


html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
    background-color: black;
    
    
        margin: 0; /* Убираем отступы */
      
        background: url(/travel/img/bg.png)no-repeat; /* Параметры фона */
        background-size: cover; /* Фон занимает всю доступную площадь */
        position: absolute;
width: 1445px;
height: 3735px;
left: 0px;
top: 0px;


}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
}

/* Header styles start */

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.header__wrapper{
    display: flex;
    flex-wrap: wrap;
  
    margin-top: 26px;
    margin-left: 120px;
    
}
.header__list{
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
}
.header__item{
    margin-right: 82px;
}
.header__item:last-child{
    margin-right: 0;
}
.header__link1, .header__link2, .header__link3, .header__link4{
  
    
    color: white;
    text-decoration: none;
    
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    
}
.header_item1{
margin-top:35px;
margin-left:494px;

}
.header__item2{
margin-bottom: 35px;
margin-left:42px;
}

.header__item3{
margin-bottom: 35px;
margin-left:42px;

}
.header__item4{
margin-bottom: 35px;
margin-left:42px;

}

/* Header styles end */

/* Travel Portal */

.travel_portal{
display: flex;
flex-wrap: wrap;
align-items: flex-end;
justify-content: space-between;

height: 31px;

top: 25px;

font-family: 'Magra';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
margin-left: 6px;
margin-top:25x;
color: #FFFFFF;
}

.btn{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;

gap: 10px;

position: absolute;
width: 103px;
height: 41px;
margin-left: 1217px;
top: 25px;

background: #0D606F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
margin-right:120px;
color:#FFFFFF;


}
.header{
        padding: 5px; /* Поля вокруг текста */
        background: rgba(242, 120, 92, 0.7); /* Цвет фона */
        box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
        margin: 0 auto; /* Выравниваем слой по центру */
        width: 1440px; /* Ширина слоя */
        height: 90px;
        opacity: 0.7; /* Значение прозрачности */
        filter: alpha(Opacity=70); /* Прозрачность в IE */
       }

       .explore_the_beauty{

        position: absolute;
        width: 892px;
        height: 422px;
        left: 120px;
        top: 122px;
        
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 96px;
        
        color: #FFFFFF;
        

       }
.receive{
    position: absolute;
    width: 800px;
    height: 24px;
    left: 120px;
    top: 346px;
    
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #FFFFFF;

}
