body{
margin: 0px;
padding:0px;
width: 1600px;
height:4975px;

}
.head{
Width:1600px;
Height:80px;
background-color:black;
}

.rectangle{
    box-sizing: border-box;
    position: absolute;
    width: 82px;
    height: 52px;
    left: 61px;
    top: 21px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.petStory{
    box-sizing: border-box;
    position: absolute;
    width: 72.49px;
    height: 44.91px;
    left: 4.75px;
    top: -12.45px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
      

}
.bamboo{
    position: absolute;
    left: 78.23px;
    top: 46.64px;

}

.about{
position: absolute;
width: 43px;
height: 22px;
left: 175px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #FFFFFF;
}
.map{
    position: absolute;
    width: 32px;
    height: 22px;
    left: 266px;
    top: 29px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    
    
    color: #FFFFFF;

}
.zoos{
    position: absolute;
    width: 36px;
    height: 22px;
    left: 346px;
    top: 29px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    
    
    color: #FFFFFF;


}
.donate{
position: absolute;
width: 51px;
height: 22px;
left: 430px;
top: 29px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

/* orange */

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

}

.contact_us{
position: absolute;
width: 77px;
height: 22px;
left: 529px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

color: #FFFFFF;
}

.designed_by{

position: absolute;
width: 105px;
height: 22px;
left: 865px;
top: 29px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;

}
.panda_bg{
    
    height: 780px;
    width: 1600px;
    left: 0px;
    right: 0px;
    top: 88px;
    background: url(../../assets/images/panda_bg.jpg) no-repeat;
    background-size: 1600px 780px;
}
.circle{
    position: absolute;
    width: 465px;
    height: 465px;
    left: 806px;
    top: 92px;
    border-radius: 50%;
    /* orange */
    
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

}

.watch_animal{
position: absolute;
width: 500.31px;
height: 400px;
left: calc(50% - 500.31px/2 + 330.15px);
top: 166px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 106.496px;
line-height: 75%;
/* or 80px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.favorite{
color:#FFEE2E;
}

.btn1{
position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2 + 332px);
top: 626px;
color:white;
/* orange */

background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 25px;



/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;


}

.flower{
    
    position: absolute;
    width: 293px;
    height: 605px;
    left: 1310px;
    top: 876px;
    background: url(../../assets/images/flower.jpg) no-repeat;
    background-size: 293px 605px;
}

.bamboo-cap{
    position: absolute;
    width: 609px;
    height: 403px;
    left: 218px;
    top: 921px;
    background: url(../../assets/images/bamboo-cap.jpg) no-repeat;
}
 
.backstage{
    position: absolute;
    height: 116px;
    left: 837px;
    right: 0px;
    top: 1018px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
}
    
.text_site{
    position: absolute;
    height: 42px;
    left: 838px;
    right: 0px;
    top: 1157px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;

}
.how_it_works{
    position: absolute;
    width: 217px;
    height: 29px;
    left: 838px;
    top: 1253px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
}

.nature{
    position: absolute;
    height: 105px;
    left: 839px;
    right: 0px;
    top: 1329px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;

}

.pandas{
   
    position: absolute;
    width: 366px;
    height: 387px;
    left: 220px;
    top: 1504px;
    background: url(../../assets/images/pandas.jpg) no-repeat;
    
}
.giant_Pandas{
    position: absolute;
    width: 294px;
    height: 22px;
    left: 11px;
    top: 359px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;

}

.southwest_China{
    position: absolute;
    width: 294px;
    height: 18px;
    left: 12px;
    top: 380px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;

}

.bamboo_food{
    z-index: 10;
    Width: 12.61px;
    Height: 35.16px;
    position: absolute;
    left: 561px;
    right: 0px;
    top: 1875px;
    transform: matrix(-0.89, 0.45, 0.46, 0.89, 0, 0);
    bottom: 4.97%;
    background: url(../../assets/icons/bamboo_food.svg) no-repeat;

}
.banana_food{
z-index: 11;
position: absolute;
left: 561px;
right: 0px;
top: 1875px;
bottom: 12.85%;
background-image: url(../../assets/icons/banana_food.svg) no-repeat;

}

.eagles{
    position: absolute;
    width: 366px;
    height: 366px;
    left: 613px;
    top: 1505px;
background:url(../../assets/images/eagles.jpg) no-repeat;    
}

.eagles_text{
    position: absolute;
    width: 294px;
    height: 22px;
    left: 14px;
    top: 358px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.native{
    position: absolute;
    width: 294px;
    height: 18px;
    left: 16px;
    top: 379px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

.gorillas{
    position: absolute;
    width: 366px;
    height: 366px;
    left: 1008px;
    top: 1504px;
background:url(../../assets/images/gorillas.jpg) no-repeat;
}

.gorillas_text{
    position: absolute;
width: 294px;
height: 22px;
left: 16px;
top: 359px;

/* btn. */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-transform: uppercase;

color: #000000;

}

.congo{
    position: absolute;
    width: 294px;
    height: 18px;
    left: 16px;
    top: 380px;
    
    /* smallParagraph */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    
    
    color: #000000;   
}

.two-toed{
    position: absolute;
    width: 366px;
    height: 366px;
    left: 216px;
    top: 1951px;
    background: url(../../assets/images/two-toed.jpg);
}

.two-toed_text{
    position: absolute;
    width: 294px;
    height: 22px;
    left: 16px;
    top: 357px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}


.mesoamerica{
    position: absolute;
    width: 294px;
    height: 18px;
    left: 16px;
    top: 379px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    color: #000000;
}

.cheetahs{
    position: absolute;
    width: 366px;
    height: 366px;
    left: 612px;
    top: 1951px;
    background:url(../../assets/images/cheetahs.jpg) no-repeat;
}

.cheetahs_text{
    position: absolute;
    width: 294px;
    height: 22px;
    left: 16px;
    top: 358px;
    
    /* btn. */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    
    text-transform: uppercase;
    
    color: #000000; 
}

.africa_text{
position: absolute;
width: 294px;
height: 18px;
left: 16px;
top: 378px;

/* smallParagraph */

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 120%;
/* identical to box height, or 18px */


color: #000000;

}

.penguins{
    position: absolute;
width: 366px;
height: 366px;
left: 1010px;
top: 1951px;
background: url(../../assets/images/penguins.jpg) no-repeat;
}

.penguins_text{
    position: absolute;
    width: 294px;
    height: 22px;
    left: 16px;
    top: 358px;
    
    /* btn. */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    
    text-transform: uppercase;
    
    color: #000000;
    
}

.antarctica{
    position: absolute;
    width: 294px;
    height: 18px;
    left: 16px;
    top: 378px;
    
    /* smallParagraph */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 18px */
    border: 1px solid transparent;
    
    color: #000000;
    

}

.circle1{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 134px;
    top: 1908px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%
    
}

.arrow_left{
    position: absolute;
    Width: 16px;
    Height: 8px;
    left: 163px;
    right: 0px;
    top: 1933px;
    bottom: 30.65%;
    background: url(../../assets/icons/arrows_left.svg) no-repeat;
}

.circle2{
    position: absolute;
    width: 62px;
    height: 62px;
    left: 1400px;
    top: 1908px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%
    
}

.arrow_right{
    position: absolute;
    Width: 16px;
    Height: 8px;
    left: 1423px;
    right: 0px;
    top: 1933px;
    bottom: 30.65%;
    background: url(../../assets/icons/arrows_right.svg) no-repeat;
    
}

.palm_foto{
    position: absolute;
    mix-blend-mode: multiply;
    width: 880px;
    height: 460px;
    left: 0px;
    top: 2151px;
    background:url(../../assets/images/palm_foto.jpg) no-repeat;
   
}
.flower_foto{
    position: absolute;
    mix-blend-mode: multiply;
    width: 368px;
    height: 275px;
    right: 0px;
    top: 2334px;
    left: 1225px;
    background: url(../../assets/images/flower_foto.jpg);

}